<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Webpage">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ metadata.title }}</title>
  <meta name="description" content="{{ metadata.description }}">
  <meta name="author" content="{{ metadata.author }}" />
  <meta property="og:title" content="{{ metadata.title }}">
  <meta property="og:description" content="{{ metadata.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ metadata.url }}">
  <link rel="stylesheet" href="/app.css" as="style">
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
  <script type="text/javascript" src="/app.js" async></script>
</body>
</html>
